# Criar tabela Categoria:

In [6]:
# Importar biblioteca pyodbc:
import pyodbc

In [7]:
# Classe para conexão com o banco de dados:
class ConexaoBD ():
    def conectar (self):
        return pyodbc.connect (driver = '{SQL Server}', server = 'DESKTOP-ATE5M9D\SQLEXPRESS', database = 'empresa', trusted_connection = 'yes')

# Pegar uma conexão com o banco de dados:
bd = ConexaoBD ()
conexao = bd.conectar ()

In [5]:
# Classe Categoria:
class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao
    def Criar (self):
        ddl = '''if not exists (select * from sysobjects where name='Categoria' and xtype='U')
                    create table Categoria ( 
                                id int primary key identity (1, 1), -- identity (inicio, incremento): especifica o valor inicial e de incremento.
                                nome varchar (32),
                                descricao text
                                ); '''
        with self.conexao:
            self.conexao.execute (ddl)
    def Listar(self, id=0):
        cursor = conexao.cursor ()
        if id == 0:
            cursor.execute('select * from Categoria;')
        else:
            cursor.execute('select * from Categoria where id = ' + str(id) +';')

        for nome in cursor:
            print (nome)

In [8]:
objCategoria = Categoria(conexao)
objCategoria.Criar()
objCategoria.Listar()
objCategoria.Listar(2)

NameError: name 'Categoria' is not defined

In [66]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def Criar (self):
        ddl = '''if not exists (select * from sysobjects where name='Vendedor' and xtype='U')
                    CREATE TABLE Vendedor (
                                            cpf varchar (14) primary key,
                                            nome varchar (128),
                                            email varchar (128),
                                            telefone varchar (20),
                                            endereco varchar (256)
                                            );
                                        '''
        with self.conexao:
            self.conexao.execute (ddl)
    def Select(self, cpf=""):
        cursor = conexao.cursor ()
        if cpf == "":
            cursor.execute('select * from Vendedor;')
        else:
            cpf = cpf.replace("'","")
            cpf = cpf.replace("=","")
            cpf = cpf.replace("?","")
            cursor.execute('''select * from Vendedor where cpf =''' + cpf +''';''')

        for nome in cursor:
            print (nome)

In [67]:
objVendedor = Vendedor(conexao)
objVendedor.Criar()
objVendedor.Select()

In [9]:
# Classe Produto:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def Criar (self):
        ddl = ''' if not exists (select * from sysobjects where name='Produto' and xtype='U')
                CREATE TABLE Produto (
                        id int primary key identity (1, 1), -- identity (inicio, incremento): especifica o valor inicial e de incremento dos valores gerados para a primary key.
                        nome varchar (128),
                        descricao text,
                        marca varchar (32),
                        id_categoria int foreign key references Categoria (id)
                        );
                                        '''
        with self.conexao:
            self.conexao.execute (ddl)
    def Listar(self, id=0):
        cursor = conexao.cursor ()
        if id == 0:
            cursor.execute('select * from Produto;')
        else:
            cursor.execute('select * from Produto where id = ' + id +';')

        for nome in cursor:
            print (nome)

In [13]:
objProduto = Produto(conexao)
objProduto.Criar()
objProduto.Listar()

(1, 'Celular', 'Celular 1', 'Apple', 1)
(2, 'Celular', 'Celular 2', 'Samsung', 1)
(3, 'Celular', 'Celular 3', 'Xiaomi', 1)
(4, 'Notebook', 'Notebook 1', 'Apple', 2)
(5, 'Notebook', 'Notebook 2', 'Samsung', 2)
(6, 'Notebook', 'Notebook 3', 'Xiaomi', 2)
(7, 'Camisa', 'Camisa 1', 'Nike', 3)
(8, 'Calça', 'Calça 1', 'Nike', 3)
(9, 'Tênis', 'Tênis 1', 'Nike', 4)
(10, 'Camisa', 'Camisa 2', 'Adidas', 3)
(11, 'Calça', 'Calça 2', 'Adidas', 3)
(12, 'Tênis', 'Tênis 2', 'Adidas', 4)
(13, 'Camisa', 'Camisa 3', 'Zara', 3)
(14, 'Calça', 'Calça 3', 'Zara', 3)
(15, 'Tênis', 'Tênis 3', 'Zara', 4)

In [12]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def Criar (self):
        ddl = '''if not exists (select * from sysobjects where name='VendedorProduto' and xtype='U')
                    CREATE TABLE VendedorProduto (
                                                id int primary key identity (1, 1), -- identity (inicio, incremento): especifica o                                                 valor inicial e de incremento dos valores gerados para a primary key.
                                                cpf_vendedor varchar (14) foreign key references Vendedor (cpf),
                                                id_produto int foreign key references Produto (id),
                                                quantidade int,
                                                preco decimal
                                                );
                                        '''
        with self.conexao:
            self.conexao.execute (ddl)
    def Listar(self, id=0):
        cursor = conexao.cursor ()
        if id == 0:
            cursor.execute('select * from VendedorProduto;')
        else:
            cursor.execute('select * from VendedorProduto where id = ' + id +';')

        for nome in cursor:
            print (nome)

In [14]:
objVendedorProduto = VendedorProduto(conexao)
objVendedorProduto.Criar()
objVendedorProduto.Listar()

(1, '111.111.111-11', 1, 2, Decimal('4000'))
(2, '111.111.111-11', 2, 3, Decimal('3000'))
(3, '111.111.111-11', 3, 4, Decimal('1000'))
(4, '111.111.111-11', 12, 2, Decimal('110'))
(5, '222.222.222-22', 4, 3, Decimal('5000'))
(6, '222.222.222-22', 5, 5, Decimal('4000'))
(7, '222.222.222-22', 6, 6, Decimal('3000'))
(8, '333.333.333-33', 7, 10, Decimal('50'))
(9, '333.333.333-33', 14, 2, Decimal('88'))
(10, '555.555.555-55', 7, 10, Decimal('45'))
(11, '666.666.666-66', 9, 3, Decimal('120'))
(12, '666.666.666-66', 14, 8, Decimal('78'))
(13, '888.888.888-88', 10, 0, Decimal('40'))
(14, '999.999.999-99', 11, 0, Decimal('87'))
(15, '999.999.999-99', 1, 1, Decimal('5000'))