In [1]:
# Importar biblioteca pyodbc:
import pyodbc

# Importar a biblioteca Pandas:
import pandas as pd

# Classe para conexão com o banco de dados:
class ConexaoBD ():
    def conectar (self):
        return pyodbc.connect (driver = '{SQL Server}', server = 'DESKTOP-ATE5M9D\SQLEXPRESS', database ='empresa', trusted_connection = 'yes')

In [2]:
# Instanciar um objeto da classe para conexão com o banco de dados:
bd = ConexaoBD ()

# Pegar uma conexão com o banco de dados:
conexao = bd.conectar ()

In [3]:
# Classe Categoria:
class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao
    def inserir (self):
        dml = ''' insert into Categoria (nome, descricao) values
                ('Telefonia', 'Aparelho telefônico'),
                ('Informática', 'Computador portátil'),
                ('Roupa', 'Vestuário'),
                ('Calçado', 'Vestuário');
                '''
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)

In [4]:
# Instanciar objeto da classe Categoria:
categoria = Categoria (conexao)
# Inserir um registro no banco de dados:
categoria.inserir ()

In [5]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def inserir (self):
        dml = ''' insert into Vendedor (cpf, nome, email, telefone, endereco) values
        ('111.111.111-11', 'Ana', 'ana@ana.com.br', '(11) 1 1111-1111', 'Rua n.1, n. 1, Bairro 1, Cidade 1, MG'),
        ('222.222.222-22', 'Bruno', 'bruno@bruno.com.br', '(22) 2 2222-2222', 'Rua n.2, n. 2, Bairro 2, Cidade 2, MG'),
        ('333.333.333-33', 'Carla', 'carla@carla.com.br', '(33) 3 3333-3333', 'Rua n.3, n. 3, Bairro 3, Cidade 3, MG'),
        ('444.444.444-44', 'Diego', 'diego@diego.com.br', '(44) 4 4444-4444', 'Rua n.4, n. 4, Bairro 4, Cidade 4, MG'),
        ('555.555.555-55', 'Elis', 'elis@elis.com.br', '(55) 5 5555-5555', 'Rua n.5, n. 5, Bairro 5, Cidade 5, MG'),
        ('666.666.666-66', 'Fábio', 'fabio@fabio.com.br', '(66) 6 6666-6666', 'Rua n.6, n. 6, Bairro 6, Cidade 6, MG'),
        ('777.777.777-77', 'Gisele', 'gisele@gisele.com.br', '(77) 7 7777-7777', 'Rua n.7, n. 7, Bairro 7, Cidade 7, MG'),
        ('888.888.888-88', 'Heitor', 'heitor@heitor.com.br', '(88) 8 8888-8888', 'Rua n.8, n. 8, Bairro 8, Cidade 8, MG'),
        ('999.999.999-99', 'Iris', 'iris@iris.com.br', '(99) 9 9999-9999', 'Rua n.9, n. 9, Bairro 9, Cidade 9, MG');
        '''
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)

    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, v.email as 'E-mail'
        from Vendedor v
        '''
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (sql)
            for linha in cursor:
                print (linha)

    def buscarPandas (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, v.email as 'E-mail'
        from Vendedor v
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def pesquisarPandas (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor,
                p.nome as Produto, p.marca as Marca,
                c.nome as Categoria,
                vp.quantidade as Qtde, vp.preco as Preço
                from Vendedor v, VendedorProduto vp, Produto p, Categoria c
                where v.cpf = vp.cpf_vendedor and
                vp.id = p.id and
                p.id_categoria = c.id;
                '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def buscar_Like (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor from Vendedor v
        where v.nome like '%rl%';'''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
    def buscar_between (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, p.nome as Produto, vp.preco as Preço
        from Vendedor v, VendedorProduto vp, Produto p
        where v.cpf = vp.cpf_vendedor and
        vp.id_produto = p.id and
        vp.preco between 80 and 200;
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def buscar_subconsulta_IN (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor
        from Vendedor v
        where v.cpf in (select vp.cpf_vendedor
        from VendedorProduto vp);
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def buscar_subconsulta_Exists (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor
        from Vendedor v
        where exists (select vp.cpf_vendedor
        from VendedorProduto vp
        where v.cpf = vp.cpf_vendedor);
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def buscar_subconsulta_Not_IN (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor
        from Vendedor v
        where v.cpf not in (select vp.cpf_vendedor
        from VendedorProduto vp);
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def buscar_subconsulta_Not_Exists (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor
        from Vendedor v
        where not exists (select vp.cpf_vendedor
        from VendedorProduto vp
        where v.cpf = vp.cpf_vendedor);
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def buscar_inner_join (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, vp.quantidade as Qtde, vp.preco as Preço, p.nome as Produto, c.nome as Categoria
        from Vendedor v
        inner join VendedorProduto vp on v.cpf = vp.cpf_vendedor
        inner join Produto p on vp.id_produto = p.id
        inner join Categoria c on p.id_categoria = c.id
        order by v.cpf;
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def buscar_left_join (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, vp.quantidade as Qtde, vp.preco as Preço, p.nome as Produto, c.nome as Categoria
        from Vendedor v
        left join VendedorProduto vp on v.cpf = vp.cpf_vendedor
        left join Produto p on vp.id_produto = p.id
        left join Categoria c on p.id_categoria = c.id
        order by v.cpf;
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def buscar_right_join (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, vp.quantidade as Qtde, vp.preco as Preço, p.nome as Produto, c.nome as Categoria
        from Vendedor v
        right join VendedorProduto vp on v.cpf = vp.cpf_vendedor
        right join Produto p on vp.id_produto = p.id
        right join Categoria c on p.id_categoria = c.id
        order by v.cpf;
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def buscar_full_join (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, vp.quantidade as Qtde, vp.preco as Preço, p.nome as Produto, c.nome as Categoria
        from Vendedor v
        full join VendedorProduto vp on v.cpf = vp.cpf_vendedor
        full join Produto p on vp.id_produto = p.id
        full join Categoria c on p.id_categoria = c.id
        order by v.cpf;
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)     
        print (data_frame)
        print (type (data_frame))

In [6]:
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Inserir um registro no banco de dados:
vendedor.inserir ()

In [7]:
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar ()

('111.111.111-11', 'Ana', 'ana@ana.com.br')
('222.222.222-22', 'Bruno', 'bruno@bruno.com.br')
('333.333.333-33', 'Carla', 'carla@carla.com.br')
('444.444.444-44', 'Diego', 'diego@diego.com.br')
('555.555.555-55', 'Elis', 'elis@elis.com.br')
('666.666.666-66', 'Fábio', 'fabio@fabio.com.br')
('777.777.777-77', 'Gisele', 'gisele@gisele.com.br')
('888.888.888-88', 'Heitor', 'heitor@heitor.com.br')
('999.999.999-99', 'Iris', 'iris@iris.com.br')

In [8]:
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscarPandas ()

              CPF Vendedor                E-mail
0  111.111.111-11      Ana        ana@ana.com.br
1  222.222.222-22    Bruno    bruno@bruno.com.br
2  333.333.333-33    Carla    carla@carla.com.br
3  444.444.444-44    Diego    diego@diego.com.br
4  555.555.555-55     Elis      elis@elis.com.br
5  666.666.666-66    Fábio    fabio@fabio.com.br
6  777.777.777-77   Gisele  gisele@gisele.com.br
7  888.888.888-88   Heitor  heitor@heitor.com.br
8  999.999.999-99     Iris      iris@iris.com.br
<class 'pandas.core.frame.DataFrame'>

In [10]:
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.pesquisarPandas ()

Empty DataFrame
Columns: [CPF, Vendedor, Produto, Marca, Categoria, Qtde, Preço]
Index: []
<class 'pandas.core.frame.DataFrame'>

In [11]:
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar_Like ()

              CPF Vendedor
0  333.333.333-33    Carla
<class 'pandas.core.frame.DataFrame'>

In [12]:
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar_between ()

Empty DataFrame
Columns: [CPF, Vendedor, Produto, Preço]
Index: []
<class 'pandas.core.frame.DataFrame'>

In [13]:
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar_subconsulta_IN ()

Empty DataFrame
Columns: [CPF, Vendedor]
Index: []
<class 'pandas.core.frame.DataFrame'>

In [14]:
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar_subconsulta_Exists ()

Empty DataFrame
Columns: [CPF, Vendedor]
Index: []
<class 'pandas.core.frame.DataFrame'>

In [15]:
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar_subconsulta_Not_IN ()

              CPF Vendedor
0  111.111.111-11      Ana
1  222.222.222-22    Bruno
2  333.333.333-33    Carla
3  444.444.444-44    Diego
4  555.555.555-55     Elis
5  666.666.666-66    Fábio
6  777.777.777-77   Gisele
7  888.888.888-88   Heitor
8  999.999.999-99     Iris
<class 'pandas.core.frame.DataFrame'>

In [16]:
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar_subconsulta_Not_Exists ()

              CPF Vendedor
0  111.111.111-11      Ana
1  222.222.222-22    Bruno
2  333.333.333-33    Carla
3  444.444.444-44    Diego
4  555.555.555-55     Elis
5  666.666.666-66    Fábio
6  777.777.777-77   Gisele
7  888.888.888-88   Heitor
8  999.999.999-99     Iris
<class 'pandas.core.frame.DataFrame'>

In [17]:
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar_inner_join ()

Empty DataFrame
Columns: [CPF, Vendedor, Qtde, Preço, Produto, Categoria]
Index: []
<class 'pandas.core.frame.DataFrame'>

In [105]:
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar_left_join ()

CPF Vendedor  Qtde   Preço   Produto    Categoria
0   111.111.111-11      Ana   2.0  4000.0   Celular    Telefonia
1   111.111.111-11      Ana   3.0  3000.0   Celular    Telefonia
2   111.111.111-11      Ana   4.0  1000.0   Celular    Telefonia
3   111.111.111-11      Ana   2.0   110.0     Tênis      Calçado
4   222.222.222-22    Bruno   3.0  5000.0  Notebook  Informática
5   222.222.222-22    Bruno   5.0  4000.0  Notebook  Informática
6   222.222.222-22    Bruno   6.0  3000.0  Notebook  Informática
7   333.333.333-33    Carla  10.0    50.0    Camisa        Roupa
8   333.333.333-33    Carla   2.0    88.0     Calça        Roupa
9   444.444.444-44    Diego   NaN     NaN      None         None
10  555.555.555-55     Elis  10.0    45.0    Camisa        Roupa
11  666.666.666-66    Fábio   3.0   120.0     Tênis      Calçado
12  666.666.666-66    Fábio   8.0    78.0     Calça        Roupa
13  777.777.777-77   Gisele   NaN     NaN      None         None
14  888.888.888-88   Heitor   0.0    40.0    Camisa        Roupa
15  999.999.999-99     Iris   0.0    87.0     Calça        Roupa
16  999.999.999-99     Iris   1.0  5000.0   Celular    Telefonia
<class 'pandas.core.frame.DataFrame'>

In [18]:
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar_right_join ()

     CPF Vendedor  Qtde Preço Produto        Categoria
0   None     None  None  None    None        Telefonia
1   None     None  None  None    None      Informática
2   None     None  None  None    None            Roupa
3   None     None  None  None    None          Calçado
4   None     None  None  None    None  categoria teste
5   None     None  None  None    None        Telefonia
6   None     None  None  None    None      Informática
7   None     None  None  None    None            Roupa
8   None     None  None  None    None          Calçado
9   None     None  None  None    None        Telefonia
10  None     None  None  None    None      Informática
11  None     None  None  None    None            Roupa
12  None     None  None  None    None          Calçado
13  None     None  None  None    None        Telefonia
14  None     None  None  None    None      Informática
15  None     None  None  None    None            Roupa
16  None     None  None  None    None          Calçado
<class 'pandas.core.frame.DataFrame'>

In [23]:
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar_full_join ()

               CPF Vendedor  Qtde   Preço   Produto        Categoria
0             None     None   NaN     NaN     Tênis          Calçado
1             None     None   NaN     NaN    Camisa            Roupa
2             None     None   NaN     NaN     Calça            Roupa
3             None     None   NaN     NaN      None          Calçado
4             None     None   NaN     NaN      None            Roupa
5             None     None   NaN     NaN      None        Telefonia
6             None     None   NaN     NaN      None      Informática
7             None     None   NaN     NaN      None        Telefonia
8             None     None   NaN     NaN      None          Calçado
9             None     None   NaN     NaN      None  categoria teste
10            None     None   NaN     NaN      None      Informática
11            None     None   NaN     NaN      None            Roupa
12  111.111.111-11      Ana   2.0  4000.0   Celular        Telefonia
13  111.111.111-11      Ana   3.0  3000.0   Celular        Telefonia
14  111.111.111-11      Ana   4.0  1000.0   Celular        Telefonia
15  111.111.111-11      Ana   2.0   110.0     Tênis          Calçado
16  222.222.222-22    Bruno   3.0  5000.0  Notebook      Informática
17  222.222.222-22    Bruno   5.0  4000.0  Notebook      Informática
18  222.222.222-22    Bruno   6.0  3000.0  Notebook      Informática
19  333.333.333-33    Carla  10.0    50.0    Camisa            Roupa
20  333.333.333-33    Carla   2.0    88.0     Calça            Roupa
21  444.444.444-44    Diego   NaN     NaN      None             None
22  555.555.555-55     Elis  10.0    45.0    Camisa            Roupa
23  666.666.666-66    Fábio   3.0   120.0     Tênis          Calçado
24  666.666.666-66    Fábio   8.0    78.0     Calça            Roupa
25  777.777.777-77   Gisele   NaN     NaN      None             None
26  888.888.888-88   Heitor   0.0    40.0    Camisa            Roupa
27  999.999.999-99     Iris   0.0    87.0     Calça            Roupa
28  999.999.999-99     Iris   1.0  5000.0   Celular        Telefonia
<class 'pandas.core.frame.DataFrame'>

In [19]:
# Classe Produto:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def inserir (self):
        dml = ''' insert into Produto (nome, descricao, marca, id_categoria) values
        ('Celular', 'Celular 1', 'Apple', 1),
        ('Celular', 'Celular 2', 'Samsung', 1),
        ('Celular', 'Celular 3', 'Xiaomi', 1),
        ('Notebook', 'Notebook 1', 'Apple', 2),
        ('Notebook', 'Notebook 2', 'Samsung', 2),
        ('Notebook', 'Notebook 3', 'Xiaomi', 2),
        ('Camisa', 'Camisa 1', 'Nike', 3),
        ('Calça', 'Calça 1', 'Nike', 3),
        ('Tênis', 'Tênis 1', 'Nike', 4),
        ('Camisa', 'Camisa 2', 'Adidas', 3),
        ('Calça', 'Calça 2', 'Adidas', 3),
        ('Tênis', 'Tênis 2', 'Adidas', 4),
        ('Camisa', 'Camisa 3', 'Zara', 3),
        ('Calça', 'Calça 3', 'Zara', 3),
        ('Tênis', 'Tênis 3', 'Zara', 4);
        '''
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)
    def buscar_distinct (self):
        sql = ''' select distinct p.nome as Produto
        from Produto p
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
    def buscar_group_by (self):
        sql = ''' select p.nome as Produto, c.nome as Categoria, vp.quantidade as Qtde, vp.preco as Preço
            from Produto p, Categoria c, VendedorProduto vp
            where vp.id_produto = p.id and
            p.id_categoria = c.id
            group by p.nome, c.nome, vp.quantidade, vp.preco
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
    def buscar_having (self):
        sql = ''' select p.nome as Produto, c.nome as Categoria, vp.quantidade as Qtde, vp.preco as Preço
            from Produto p, Categoria c, VendedorProduto vp
            where vp.id_produto = p.id and
            p.id_categoria = c.id
            group by p.nome, c.nome, vp.quantidade, vp.preco
            having vp.preco > 500
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
    def buscar_order_by (self):
        sql = ''' select p.nome as Produto, c.nome as Categoria, vp.quantidade as Qtde, vp.preco as Preço
        from Produto p, Categoria c, VendedorProduto vp
        where vp.id_produto = p.id and
        p.id_categoria = c.id
        group by p.nome, c.nome, vp.quantidade, vp.preco
        having vp.preco > 500
        order by c.nome asc, vp.preco desc
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
    def buscar_cross_join (self):
        sql = ''' select p.nome as Produto, c.nome as Categoria
        from Produto p
        cross join Categoria c
        order by p.nome, c.nome;
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

In [28]:
# Instanciar objeto da classe Produto:
produto = Produto (conexao)
# Inserir um registro no banco de dados:
produto.inserir ()

In [21]:
# Instanciar objeto da classe Produto:
produto = Produto (conexao)
# Ler os registros do banco de dados:
produto.buscar_distinct ()

    Produto
0     Calça
1    Camisa
2   Celular
3  Notebook
4     Tênis
<class 'pandas.core.frame.DataFrame'>

In [22]:
# Instanciar objeto da classe Produto:
produto = Produto (conexao)
# Ler os registros do banco de dados:
produto.buscar_group_by ()

Empty DataFrame
Columns: [Produto, Categoria, Qtde, Preço]
Index: []
<class 'pandas.core.frame.DataFrame'>

In [23]:
# Instanciar objeto da classe Produto:
produto = Produto (conexao)
# Ler os registros do banco de dados:
produto.buscar_having ()

Empty DataFrame
Columns: [Produto, Categoria, Qtde, Preço]
Index: []
<class 'pandas.core.frame.DataFrame'>

In [24]:
# Instanciar objeto da classe Produto:
produto = Produto (conexao)
# Ler os registros do banco de dados:
produto.buscar_order_by ()

Empty DataFrame
Columns: [Produto, Categoria, Qtde, Preço]
Index: []
<class 'pandas.core.frame.DataFrame'>

In [25]:
# Instanciar objeto da classe Produto:
produto = Produto (conexao)
# Ler os registros do banco de dados:
produto.buscar_cross_join ()

    Produto  Categoria
0     Calça    Calçado
1     Calça    Calçado
2     Calça    Calçado
3     Calça    Calçado
4     Calça    Calçado
..      ...        ...
250   Tênis  Telefonia
251   Tênis  Telefonia
252   Tênis  Telefonia
253   Tênis  Telefonia
254   Tênis  Telefonia

[255 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>

In [26]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def inserir (self):
        dml = ''' insert into VendedorProduto (cpf_vendedor, id_produto, quantidade, preco) values
        ('111.111.111-11', 1, 2, 4000),
        ('111.111.111-11', 2, 3, 3000),
        ('111.111.111-11', 3, 4, 1000),
        ('111.111.111-11', 12, 2, 110),
        ('222.222.222-22', 4, 3, 5000),
        ('222.222.222-22', 5, 5, 4000),
        ('222.222.222-22', 6, 6, 3000),
        ('333.333.333-33', 7, 10, 50),
        ('333.333.333-33', 14, 2, 88),
        ('555.555.555-55', 7, 10, 45),
        ('666.666.666-66', 9, 3, 120),
        ('666.666.666-66', 14, 8, 78),
        ('888.888.888-88', 10, 0, 40),
        ('999.999.999-99', 11, 0, 87),
        ('999.999.999-99', 1, 1, 5000);
        '''
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)
    def buscar_Agregada_MAX (self):
        sql = ''' select max (preco) as 'Preço Máximo'
        from VendedorProduto'''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
    def buscar_Agregada_MIN (self):
        sql = ''' select min (preco) as 'Preço minimo'
        from VendedorProduto'''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
    def buscar_Agregada_AVG (self):
        sql = ''' select avg (preco) as 'Preço Máximo' from VendedorProduto '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
    def buscar_Agregada_SUM (self):
        sql = ''' select sum (preco) as 'Preço Máximo'
        from VendedorProduto'''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
    def buscar_Agregada_COUNT (self):
        sql = ''' select count (id) as 'Contagem'
        from VendedorProduto'''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

In [29]:
# Instanciar objeto da classe VendedorProduto:
vendedor_produto = VendedorProduto (conexao)
# Inserir um registro no banco de dados:
vendedor_produto.inserir ()

In [30]:
# Instanciar objeto da classe VendedorProduto:
vendedor_produto = VendedorProduto (conexao)
# Ler os registros do banco de dados:
vendedor_produto.buscar_Agregada_MAX ()

   Preço Máximo
0        5000.0
<class 'pandas.core.frame.DataFrame'>

In [31]:
# Instanciar objeto da classe VendedorProduto:
vendedor_produto = VendedorProduto (conexao)
# Ler os registros do banco de dados:
vendedor_produto.buscar_Agregada_MIN ()

   Preço minimo
0          40.0
<class 'pandas.core.frame.DataFrame'>

In [32]:
# Instanciar objeto da classe VendedorProduto:
vendedor_produto = VendedorProduto (conexao)
# Ler os registros do banco de dados:
vendedor_produto.buscar_Agregada_AVG ()

   Preço Máximo
0   1707.866666
<class 'pandas.core.frame.DataFrame'>

In [33]:
# Instanciar objeto da classe VendedorProduto:
vendedor_produto = VendedorProduto (conexao)
# Ler os registros do banco de dados:
vendedor_produto.buscar_Agregada_SUM ()

   Preço Máximo
0       25618.0
<class 'pandas.core.frame.DataFrame'>

In [35]:
# Instanciar objeto da classe VendedorProduto:
vendedor_produto = VendedorProduto (conexao)
# Ler os registros do banco de dados:
vendedor_produto.buscar_Agregada_COUNT ()

   Contagem
0        15
<class 'pandas.core.frame.DataFrame'>